/*CSS META
********************************************************************************************************************************************/
html, body {
    font-family: 'nunito', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: 0;
}

div, p {
    margin: 0;
}

A, input{
    text-decoration: none;
}

div{
    margin: 0; padding: 0;
}

.search-box:focus{
    outline: none;
}


button:focus {outline:0;}
div:focus {outline:0;}
input:focus {outline:0;}
p:focus {outline:0;}

/*******************************************************************************************************************************************/
/* GLOBAL AND EXTRA CSS PROPERTIES
*******************************************************************************************************************************************/
.img {
    margin: 0 auto;
    border-radius: 43px;
}
html {
  	background: linear-gradient(rgba(54, 43, 43, 0.8),rgba(59,39,36,0.8)), url(Photos/background.png) center center fixed;
	background-size: cover;
    height: 100%;
    height: 100%;
    background-repeat: repeat;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}
.zIndex5k { /* for anything that needs some z-index nitros */ 
    z-index: 5000;
}
.visibilityNone { /* for when displaynone doesn't cut it */
    visibility: hidden;
}
.centered { /* for centering horizontal and vertical */
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}
.displayNone { /* obvious */
    display: none !important;
}
.smallScreenBottomBar { /* adaptive mode bottom bar, where majority of buttons go in adapative mode*/
    align-self: center;
	background-color: white;
	bottom: 0;
    display: none;
	filter: brightness(85%);
	flex-grow: 1;
	flex-direction: row;
    height: 53px;
	margin: 0 auto;
	position: fixed;
    transition: filter .5s;
	width: 100%;
	z-index: 500;
}
.imgZ { /* pull z-index back -30 */
    z-index: -30;
}
.userSelectNone {
    user-select: none;
}
.buttonDisable{
    pointer-events: none;
}
/* other/global -
********************************************************/
a img:active {
    filter: brightness(80%);
}
.iconHover:hover { /* used for the "pop up" effect on global buttons, eg hovering over info button */
    position: relative;
    top: -3px;
    cursor: pointer;
}
.iconMargin {
    margin-left: 5px;
}

/********************************************************************************************************************************/
/* TOP HEADER BAR
********************************************************************************************************************************/

/*********************************************************/
/* header bar wrap/container style properties
*********************************************************/
.page-head {
    align-items: center;  
    align-self: center;
    background: white;
    display: flex; 
    filter: brightness(85%);
    flex: 1 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 62.5px;   
    padding: 2px 0px 2px 0px;
    transition: filter .5s;
    z-index: 1;
    width: 100%;
}
.headerWrap {
    z-index: 500;
    position: fixed;
}
/* purple bar under the headerbar*/
#waveLine {
    z-index: 100;
    width: 100%;
    height: 8px;
    background-size: cover;
    object-fit: cover;
    filter: blur(1px);
    align-self: flex-end;
    margin-top: 4px;
    position: fixed;
}
/********************************************************/
/* website logo style properties
********************************************************/
.waveFm{
    align-self: center;
    color: darkviolet;
    font-family: 'Orbitron', sans-serif;
    font-size: 45px;
    margin-left: 10px;
    padding: 3px;
    text-decoration: none;
    text-shadow: 10px 10px 10px 10px;
}
.waveFm:active {
    color:darkorchid;
}
/**********************************************************/
/*searchbox style properties
**********************************************************/
.searchBoxWrap {
    z-index: 50;
    margin: 0 1rem;  
    flex-grow: 2; 
    min-width: 5rem;
    margin-left: 10px;
	align-self: center;
	width: 150px;
}
.search-box {
    width: 100%;  
    padding: .4rem;
    background-color: darkslategrey;
    opacity: 0.4;
    margin-left: 5px;
    border-radius: 10px;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
/**********************************************************/
/*global icon style properties (display icon in header bar, icons in info mode etc)
*********************************************************/
.iconWrap {
    z-index: 30;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.displayImg { /* display button icon class */
    width: 42px;
}
.buttonStyle { /* button style for moviemode and preference buttons */
    background: transparent;
    border-width: 0;
    border-style: solid;
    border-radius: 60px;
    background-image: linear-gradient(-45deg, #6D6F7F, #61708b);
    box-shadow: 0 1px 0 0 #4a4b56, 0 4px 4px -1px rgba(0, 0, 0, 0.6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    color: #E6EAEF;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 28px;
    justify-content: center;
    line-height: 1.42;
    margin: 6px;
    padding: 0.8em 1.6em;
    text-align: center;
    transition: box-shadow 0.3s, transform 0.3s, color 0.3s, opacity 0.9s;
    user-select: none;
    vertical-align: bottom; 
}
 
.buttonStyle:hover {
    box-shadow:  0 1px 0 0 #4a4b56, 0 6px 4px -1px rgba(0, 0, 0, 0.3), 0 4px 16px rgba(0, 0, 0, 0.5), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.14) inset;
 } 

.buttonStyle:active {
    box-shadow: 0 0px 0 0 #07288d, 0 3px 0 0 rgba(0, 0, 0, 0), 0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset, 0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    transition: 0s;
/*    color: #082fa6;*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.prefContainer, .soundControlContainer, .movieModeContainer {
    top: 67px;
    z-index: -500;
}
/**********************************************************/
/*preference mode style properties
*********************************************************/
.preferencesIcon {
    border: 3px solid black;
    border-radius: 7px;
    height: 34px;
    width: 36px;
}
.prefContainer {
    display: flex;
    flex-direction: column;
    float: right;
    font-size: 10px;
    position: fixed;
    right: 0;
}
.formBox { /* wrap around checkboxes */
    align-self: flex-end;
    background-color: white;
    border: 1px solid lightgray;
    border-bottom: 3px solid #CD69C9;
    border-radius: 15px 0px 0px 0px;
    display: flex;
    filter: brightness(85%);
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    height: 130px;
    justify-content: space-evenly;
    overflow: auto;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    position: relative;
    right: 0;
    text-transform: uppercase;
    z-index: 60;   
}
.formCheckBoxBorder { /* border around checkboxes */
    border: 2px solid rgba(0,0,0,0.4);
    border-radius: 5px;
    height: 25px;
    width: 25px;
}
.newCheckBox { /* main checkbox area */
    background-color: #eee;
    border-radius: 3px;
    cursor: pointer;
    height: 25px;
    left: 0;
    width: 25px;
}
.newCheckBox:hover {
  filter: brightness(90%);
}
.fakeCheckBoxWrap { /* to row align the checkbox and its label */
    display: flex;
    flex-direction: row;
}
.checked {
    background: forestgreen;
}
.unchecked {
    background: #eee;
}
.clear-select { /* image reset wrap/container */
    background: white;
    bottom: 11;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    filter: brightness(90%);
    justify-content: space-around;
    padding: 8px;
    position: relative;
    right: 0;
}
#imageReset { /*image reset button */
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    user-select: none;
}
#imageReset:active {
    color: rgba(0,0,0,0.2);
}
/**********************************************************/
/*movie mode style properties
**********************************************************/
.movieModeContainer { /* container/wrap for moviemode control section */
    align-content:stretch;
    align-self: flex-end;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 15px 0px 0px 15px;
    border-top: transparent;
    display: inline-flex;
    filter: brightness(85%);
    float: right;
    font-family: 'Press Start 2P', cursive;
    font-size: 7px;
    height:62px;
    overflow: auto;
    overflow: hidden;
    position: fixed;
    right: 0;
    text-transform: uppercase;
}
.moviemodeImg {
    border: 2.0px solid black;
    border-radius: 7px;
    height: 37px;
    width: 39px;
}
.radioContainer {
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -10px;
    width: 100px;
}
.radioContainer input {
    opacity: 0;
    padding: 5px;
    margin: 0 auto;
}
/* When the radio button is checked */
.radioContainer input:checked ~ .radio {
    background-color: forestgreen;
}
/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .radio:after {
    display: block;
}
.radio {
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.4);
  cursor: pointer;
  display: flex;
  height: 25px;
  margin-top: 3;
  width: 25px;
}
.radio:hover {/* On hover, add a grey background color */
    filter: brightness(90%);
}
.movieModeDivider { /* purple line between toggle and speed select radio buttons */
    border: 2px solid #CD69C9;
}
.movieModeToggleWrap {
    align-self: center;
    margin-right: 5px;
    margin-left: 5px;
}
.powerSymbol { /* symbol inside of on/off button */
  width: 20px;
  height: 20px;
}
.powerSymbol:active {
opacity: .6;
}
/**********************************************************/
/*SOUND CONTROL style properties
**********************************************************/
.soundControlContainer {
    align-content:stretch;
    align-self: flex-end;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 15px 0px 0px 15px;
    border-top: transparent;
    display: inline-flex;
    float: right;
    filter: brightness(85%);
    font-family: 'Press Start 2P', cursive;
    font-size: 7px;
    overflow: auto;
    position: fixed;
    right: 0;
    text-transform: uppercase;
/*    z-index: 60; */
}
.soundExtraMargin { /* gives the container a little more breathing space */
    margin-bottom: 3px;
	margin-top: 8px;
}
.soundControlIcon {
    background-color: darkgrey;
    border: 3px solid black;
    border-radius: 8px;
    height: 37px;
    width: 37px;
}
.soundControlWrap {
    display: flex;
}
.sfxOnIconDesktop,.sfxMuteIconDesktop { /* style for sfx icon on/mute */
	left: 0px; 
    margin-top: 4px;
	margin-right: 10px;
    position: static;
    width: 50px;
    z-index: 50;
}
.musicOnIconDesktop,.musicMuteIconDesktop { /* style for music icon on/mute */
    margin-left: 5px;
	margin-left: 10px;
	margin-top: -2px;
    position: static;
    width: 50px;
    z-index: 50;
}
.soundOnIconDesktop:hover,.soundMuteIconDesktop:hover {
    cursor: pointer
}
.soundLevelContainer { /* wrap/container of where the user can change the volume */
	display: flex;
	height: 18px;
	justify-content: space-around;
    margin-bottom: 3.1px;
	width: 50px;
}
.sfxLevelContainer { /* container for the sfx volume control */
	margin-top: 7.5px;
	margin-right: 10px;
}
.musicLevelContainer { /* container for the music volume control */
	margin-left: 10px;
	margin-top: 2px;
}
.soundLevelBar { /* style for the individual bars that make up the volume control */
    border-radius: 2px;
    cursor: pointer;
    width: 6px;
}
.soundLevelBar:hover {
    filter: brightness(90%);
}
.barOff { /* individual sound level bar off */
    background-color: #a9a9a9;
}
.barOn { /* individual sound level bar on */
    background-color: forestgreen;
}
.soundIconDesktop {
	margin: 5px 0px 4px 0px;
}
.adaptiveSoundControl {
    width: 37px;
    height: 34px;
}
.soundIcon {
    cursor: pointer;
}

/**********************************************************/
/*info mode style properties
**********************************************************/
#infoImgSource { /* actual "i" image thats used as button image */
    border: 3px solid black;
    border-radius: 8px;
    top: 10px;
    height: 37px;
    width: 37px;
}
.infoPicContainer { /* container for main information section, that which appears after info button has been clicked */
    background: white;
    border: 5px solid dimgrey;
    border-radius: 5px;
    box-shadow: purple 0px 0px 30px 5px;
    border-style: groove;
    display: flex;
    flex-direction: column;
    filter: brightness(85%);
    height: 500px;
    margin: 0 auto;
    max-width: 900px;
    overflow: auto;
    overflow: hidden;
    position: relative;
}
.infoPicCenter { /* centers the infoView in the center of the screen */
    bottom: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}
#infoPicBrightnessFilter{ /* brightness filter for main information section, appears when info menu is open */
    background: white;
    filter: brightness(40%);
    height: 100%;
    position: absolute;
    opacity: 0.0;
    transition: opacity .5s;
    z-index: 999;
    width: 100%;
}
.infoPicSizeAdjust { /*orignalliy .infoPicControlsColumn, helps make each info display width consistent */
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-left: 8px;
    position: relative;
}
.infoPicRow { /* used to row align specific elements */
    align-items: center;
    display: flex;
    flex-direction: row;
    height: auto;
    padding-top: 5px;
    position: relative;
    width: 100%;
}
/******************************/
/*NAVIGATION option style properties (exit & menu button, pop-up menu options)
******************************/
.infoPicNavigationRow { /* used to put the menu and exit buttons at opposite sides of info container */
    display: flex;
    justify-content: space-between;   
}
.infoNavElement { 
    color: black; 
    font-family: 'nunito', monospace;
    font-size:1.5em; 
    font-size: 2.3rem;
}
#infoMenuIcon {
    margin-right: 18px;
    margin-top: 2.5px;
    position: relative;
    width: 40px;
}
#infoMenuNav { /* "pop out" menu with different options for info view, instructions, contact etc */
    background: white;
    border-radius: 15px 0px 0px 15px;
    box-shadow: -5px 5px 18px 2px lightgrey;
    display: flex;
    filter: brightness(85%);
    flex-direction: column;
    height: 180px;
    justify-content: center;
    overflow: auto;
    overflow-x: hidden;
    opacity: 0.0;
    position: absolute;
    top: 0px;
    transition: width .5s;
    right: 0px;
    width: 1px;
}
.infoMenuElement:hover{ /* eg "instructions" in the pop-up menu in info view */
    cursor: pointer;
}
.menuElementSelected { /* make background of menu option purple when selected */
    background: rgba(95, 31, 168, .7);
    box-shadow: 0px 0px 20px 0px rebeccapurple;
}
.infoWavefm, .infoEnjoy, infoDescription, infoPicControlsRow, .contactFont{
    opacity: 0.7;
}
/******************************/
/*ABOUT option style properties
******************************/
.infoPicAbout { /* wrap for about section in info mode */
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
}
.infoDescription { /* description style properties */
    color: black;
    font-size: 3em;
    line-height: 1.1;
}
.infoEnjoy { /* "enjoy the journey" style properties */
    align-self: center;
    color: black;
    font-size: 2.5em;
    line-height: 2.5em;
    font-family: 'Press Start 2P', cursive;
}
.infoWavefm { /* website logo style properties */
    color: darkviolet;
    font-family: 'Orbitron', sans-serif;
    font-size: 7em;
}
/******************************/
/*INSTRUCTIONS option style properties
******************************/
#infoInstructionsDisplayWrap { /* wrap for instructions section in info mode */
    display: flex;    
    height: 100%;
    position: relative;
    text-align: initial;
}
.infoImgMargin { /* extra aignment for the instruction rows */
margin: 5px 10px 5px 3px;
}
.controlFont { /* font style for instructions in infoView */
    color: black;
    font-size: 1.1em;
}
/******************************/
/*CONTACT option style properties
******************************/
.infoDescription, .contactFont {
    font-family: 'nunito';
}
#infoContactDisplayWrap { /* contact section wrap */
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-between;
    overflow: auto;
    position: relative;
    top: 0;
    text-align: center;
}
.contactFont { /*for word "contact" */
    font-size: 7em;
    margin: 0;
}
#emailLinkWords { /*for words before m email link "feel free to contact us at.." */
    font-size: 3em;
}
#emailLink { /*for word website email link */
    color: rebeccapurple;
    transition: color .5s;
}
#emailLink:hover { /*for word website email link */
    color: darkviolet
}
#socialMediaLinksWrap { /* wrap for social media icons*/
    align-self: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 350px;
}
#comingSoon { /* for "coming soon" which displays on hover over social media icons*/
    align-self: center;
    opacity: 0.0;
    position: absolute;
}
#comingSoon:hover {
    opacity: 0.8;
    cursor: context-menu;
}
.socialMediaIcon {
    opacity: 0.3;
    width: 50px;
}
/********************************************************************************************************************************/
/*PHOTOVIEW SECTION 
/********************************************************************************************************************************/

/*all view style properites
**********************************************************/
#MyPhotoSection { /* wrapper for entire photo view section (so including info mode)  */
    align-items: center;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}
#photoViewSection { /* photoviewsection covering only photo view modes */
    z-index: -5000;
}
.arrow {
    color: white;
    font-size: 250px;
    opacity: 0.2;
    padding-left: 50px;
    padding-right: 50px;
    user-select: none;
    width: auto;
}
.arrow:hover {
    cursor: pointer;
    opacity: 0.45;
}

.arrow:active {
    opacity: 0.8;
}
.topPageArrowIcon, .arrow {
    font-family: 'nunito',monospace;
    font-weight: 900;
}

/**********************************************************/
/*myView style properites
**********************************************************/
#myView { /* entire myView wrap */
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-evenly;
    margin-top: 33.5px;
    width: 100%
}
.mainImg { /* class for all images in myView */
    align-self: center;
    width: 500px;
    z-index: 30;
}
#arrowOne { /* left arrow */
    margin: 5px;
    transform: scaleX(-1);
    z-index: 500;
}
#arrowTwo { /* right arrow */
    margin: 5px;
}
#arrowOne, #arrowTwo {
    align-self: center;
}
/**********************************************************/
/*comViewStyleProperties 
**********************************************************/
.fbTimeline {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
	margin-top: 3;
    position: relative;
    top: 68px;
    width: 550px;
    z-index: -30px;
}
.fbImg {
    align-self: center;
    margin: 5px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: -30px;
}
.pintrestView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 68;
}
.pImg {
    align-self: center;
    margin: 3px;
    position: relative;
    z-index: -30px;
    width: 300px;
}
.topPageArrowContainer { /* container/wrap for nav arrow that takes you back to top after stopping moviemode */
    bottom: 0;
    margin: 0px 50px -10px 0px;
    position: fixed;
    right: 0;
}
.topPageArrowIcon {
    font-size: 7.5rem;
    transform: rotate(-90deg);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.topPageArrowIcon:hover {
    text-shadow: 1px 1px 30px #E5E4E2;
    cursor: pointer;
    margin:-3px;
}
.topPageArrowIcon:active {
    filter: brightness(80%);
    margin: 0px 0px -0.5px -1px;
}

/**********************************************************************************************************************/
/*MEDIA QUERY TIME YAY 
**********************************************************************************************************************/

/*****************************************************/
/*ALL ADAPTIVE SIZING ADJUMSTMENTS FOR UNDER 1100PX (as soon as 1100 hits these adjustments are prolonged until window size > 1100)
*****************************************************/
@media only screen and (max-width: 1099px) {
    .smallScreenBottomBar {
        align-items: center;
        display: flex;
        flex: 1 1 auto;
        justify-content:space-around;
        margin-bottom: 0;
    }
    .soundLevelBar {
        border-radius: 0px;
    }
    .page-head {
        height: auto;
    }
    .mainImg, .navIcon, .arrow {
        display: none;
    }
    .soundLevelBar:hover {
        filter: brightness(100%);
    }
    .arrow:hover {
        opacity: 0.2;
    }
}
/********************************************************/
/*SELECTIVE ADAPTIVE IMAGE SIZING
*******************************************************/

/***************************/
/*STANDARD SMARTPHONE SIZE
***************************/
@media only screen and (min-width: 0px) and (max-width: 499px) {
    /* Global
    ***************/    
    .prefContainer, .soundControlContainer, .movieModeContainer {
        top: 47px;
    }   
    /* Website logo
    ***************/
    .waveFm {
        font-size: 28px;
    }
    /* Preference
    ***************/
    #imageReset {
        font-size: 1em;
        font-weight: 900;
    }
    /* Soundcontrol Style Properties
    ***************/
    .soundOnIconDesktop,.soundMuteIconDesktop {
	   display: none;
	}
	.soundLevelBar {
		width: 10px;
	}
	.sfxLevelContainer, .musicLevelContainer {
		background-color: darkgrey;
	}
	.barOn {
    	border: 1px solid forestgreen;
	}
    /* Infoview
    ***************/
    .infoPicControlsWrap {
        font-size:24px
    }
    .infoEnjoy, #emailLinkWords, .infoDescription {
        font-size: 2em;
    }
    .infoWavefm, .contactFont {
        font-size: 4em;
    }
    .infoPicAbout {
        margin-top: -10;    
        width: auto;
    }
    .infoPicControlsColumn {
        font-size: .80em;
    }
    .infoPic {
        border: 3px solid black;
        border-radius: 10px;
        height: 30px;
        width: 33px;
    }
    /* Comview stye properties
    ***************/
    .pImg {
        width: 150px;
    }
    .fbTimeline{
        top: 45px;
        width: 340px;
    }
    .topPageArrowContainer {
        margin: 0px 25px 20px 0px;
    }
    .topPageArrowIcon{
        font-size: 6.0rem;
    }
    .topPageArrowIcon:active {
        filter: brightness(80%);
        margin: 0px 0px -0.5px -1px;
        text-shadow: 1px 1px 30px #E5E4E2;
    }
}



/***************************/
/*LARGE SMARTPHONE SIZE
***************************/
@media only screen and (min-width: 500px) and (max-width: 699px) {
    /* Global
    ***************/    
    .prefContainer, .soundControlContainer, .movieModeContainer {
        top: 50px;
    }
    /* Website logo
    ***************/
    .waveFm {
        font-size: 30px;
    }
    /* Preference
    ***************/
    #imageReset {
        font-size: 1em
    }
    /* Soundcontrol Style Properties
    ***************/
	.soundOnIconDesktop,.soundMuteIconDesktop {
		display: none;
    }
	.soundLevelBar {
		width: 10px;
	}
	.sfxLevelContainer, .musicLevelContainer {
		background-color: darkgrey;
	}
	.barOn {
    	border: 1px solid forestgreen;
	}
    /* Infoview
    ***************/
	.infoEnjoy, .infoDescription {
		font-size: 1.5em;
    }
	.infoWavefm {
		font-size: 4em;
    }
	.infoPicAbout {
		width: auto;
    }
    /* Comview stye properties
    ***************/
    .fbTimeline { 
        width: 440px; 
        top: 45px;
    }
    .pImg { /* set pintrest images to a width of 150px */
        width: 150px;
    }
    .topPageArrowContainer {
        margin: 0px 25px 20px 0px;
    }
    .topPageArrowIcon:active {
        filter: brightness(80%);
        margin: 0px 0px -0.5px -1px;
        text-shadow: 1px 1px 30px #E5E4E2;
    }
}


/***************************/
/*TABLET/IPAD SIZE
***************************/
@media only screen and (min-width: 700px) and (max-width: 1099px) {
    /* Soundcontrol Style Properties
    ***************/
	.soundOnIconDesktop,.soundMuteIconDesktop {
		display: none;
    }
	.soundLevelBar {
		width: 10px;
	}
	.sfxLevelContainer, .musicLevelContainer {
		background-color: darkgrey;
	}
	.barOn {
    	border: 1px solid forestgreen;
	}
    /* Infoview
    ***************/
    .pImg {
        width: 200px;
    }
	.infoDescription {
		font-size: 2.5em;
    }
	.infoEnjoy{
		font-size: 2em;
    }
	.contactFont {
		font-size: 4em;
    }
	.infoWavefm, .contactFont {
		font-size: 6em;
    }
	.infoPicAbout {
		width: auto;
    }
    /* Comview stye properties
    ***************/
    .topPageArrowContainer {
        margin: 0px 25px 20px 0px;
    }
    .topPageArrowIcon:active {
        filter: brightness(80%);
        margin: 0px 0px -0.5px -1px;
        text-shadow: 1px 1px 30px #E5E4E2;
    }
}

/***************************/
/*SMALL LAPTOP SCREEN SIZE
***************************/
@media only screen and (min-width: 1100px) and (max-width: 1399px) {

}

/***************************/
/*MEDIUM LAPTOP SCREEN SIZE
***************************/
@media only screen and (min-width: 1400px) and (max-width: 1859px) {

}

/***************************/
/*LARGE LAPTOP SCREEN SIZE
***************************/
@media only screen and (min-width: 1860px) and (max-width: 5000px){
    /*view image sizing 
    *****************/
    .mainImg{
        width: 725px;
    }
    .fbTimeline {
        width: 725px;
    }
}

/**********************************************/
/* global element comment tags for the page
**********************************************/

    /* Global
    ***************/

    /* Website logo
    ***************/

    /* Preference
    ***************/

    /* Soundcontrol Style Properties
    ***************/

    /* Infoview
    ***************/

    /* myView stye properties
    ***************/

    /* Comview stye properties
    ***************/



/*OLD COMMENTED OUT CODE JUST IN CASE 16/06/2020*/
/*
#infoAboutDisplayContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
*/
/*
#infoPicControlsWrap {  exit and menu bar wrap 
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 6000;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}
*/
/*
.displaySection, .movieModeSection {
    z-index: 50;
    position: relative;
    text-align: center;
}
*/
/*
.displayText {
    font-family: 'Sawarabi Gothic', sans-serif;
    margin: -3px;
    text-align: center;
}
*/
/*
.qsMargin {
padding: 3px;
}
*/
/*
.positionFix {
position: fixed;
}
*/
/*
.bottomInfo {
    display: none;
}
*/
/*OLD MOVIE MODE TOGGLE STYLE */
/*
.movieModeToggle {
    background: darkgrey;
    border-radius: 50px;
    height: 42px;
    width: 42px;
}
*/
/*
.blur {
position: fixed;
filter:blur(15px);
height:10px;
width: 100%;
background: white;
bottom: 0px;
z-index: 500;
}
*/
/*
.photoTry {
background: url(Photos/display%2520photos/arcadePhotoOne.jpg) repeat 0 0;
width: 100px;
height: 100px;
}
*/
/*
input[type='checked'] {
	-webkit-appearance:none;
	width: 30px;
	height: 30px;
	background: white;
	filter: brightness(90%);
	border-radius:5px;
	border: 2px solid black;
}
*/
/*
input[type='checkbox']:checked {
	background: white;
	filter: brightness(60%);
}
*/

/*

button {
    border-radius:10px;
}
button:hover {
    cursor: pointer;
}
*/
/*
 text inside toggle button to trigger scroll function
input[value="I O"] {
        font-family: sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0 auto;
}
*/
/*
.iconCover {
    width: 30px;
    height:30px;
    background: red;
}
*/