/*CSS META
********************************************************************************************************************************************/
html, body {
  font-family: 'nunito', Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
overflow-x: 0;
}

div {
margin: 0;
}

button:focus {outline:0;}
div:focus {outline:0;}
input:focus {outline:0;}
p:focus {outline:0;}
/*
********************************************************************************************************************************************/
.img {
    margin: 0 auto;
    border-radius: 43px;
}

html {
  	background: linear-gradient(rgba(54, 43, 43, 0.8),rgba(59,39,36,0.8)), url(Photos/background.png) center center fixed;
	background-size: cover;
    height: 100%;
    height: 100%;
    background-repeat: repeat;
}



/*
#background {
position: fixed;
  	background: linear-gradient(rgba(54, 43, 43, 0.8),rgba(59,39,36,0.8)), url(Photos/background.png);
	background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}
*/

.row {
display: flex;
flex-direction: row;
width: 100%;
}


.column {
display: flex;
flex-direction: column;
height: 100%;
width: 100%;
flex-grow: 1;
}



/*
.columnFlexFill {
display: flex;
flex: 1 1 auto;
border-bottom: 20px solid red;
margin: 0;
padding: 0;
flex-direction: column;
height: 100%;
width: 100%;
}
*/

.headerWrap {
flex-direction: row;
display: flex;
/*outline: 3px solid black;*/
width: 100%;
margin: 0;
padding: 0;
}

.iconWrap {
z-index: 30;
display: flex;
flex-direction: row;
align-items: center;
}

.newHeaderWrap {
margin: 0;
padding; 0;
width: 100%;
z-index: 500;
}

.page-head {
    z-index: 1;
    display: flex;  
    align-items: center;  
    flex-wrap: nowrap;
    flex-direction: row;
    background: white;
/*    background-size: 200px 2000px;*/
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    filter: brightness(85%);
    align-self: center;
    flex: 1 0 auto;
    padding: 2px 0px 2px 0px;
    width: 100%;
}

/*
.page-head-background{
 background-color: rebeccapurple;
height: 200px;
width: 100%;
padding: 0;
}
*/

.waveFm{
    font-size: 45px;
    font-family: 'Orbitron', sans-serif;
    color: darkviolet;
    text-decoration: none;
    text-shadow: 10px 10px 10px 10px;
    padding:3px;
    margin-left: 10px;
  /* Prevent logo from shrinking 
     so it doesn't collide when window gets narrow. */
    align-self: center;
}

.waveFm:active {
    color:darkorchid;
}

a img:active {
    filter: brightness(80%);
}

.iconHover:hover {
    position: relative;
    top: -3px;
    cursor: pointer;
}

.iconHoverTwo:hover {
    margin-top: -2px;
    cursor: pointer;
}





.search-form {
    z-index: 50;
    margin: 0 1rem;  
    flex-grow: 2; /* <-- THE SECRET SAUCE! */
    min-width: 5rem;
    margin-left: 10px;
	align-self: center;
	width: 150px;
}

.search-box {
    width: 100%;  
    padding: .4rem;
    background-color: darkslategrey;
    opacity: 0.4;
    margin-left: 5px;
    border-radius: 10px;
    color: white;
    font-family: 'Press Start 2P', cursive;
}



.iconMargin {
    margin-left: 5px;
}


.displaySection, .movieModeSection {
    z-index: 50;
    position: relative;
    text-align: center;
/*    width: 80px;*/
}

.displayText {
    margin: -3px;
    font-family: 'Sawarabi Gothic', sans-serif;
    text-align: center;
}
/*

#displayRadio {
margin: 0 auto;
text-align: center;
margin-top: -11px;
margin-bottom: -5px;
}

.displayTab {
z-index: 50;
border: 2px solid grey;
background-color: darkgray;
border-radius: 20px;
flex-basis: auto;

font-size: 1rem;
margin: 0;
}
*/
/*
#infopic, #movieModeImg, #preferancesIon, #displayImg{
width: 100%;
align-self: center;
}
*/
.displayImg {
    width: 42px;
    /*align-self: center;*/
}

input[type="radio" i], .displayContainer{
    margin: 0;
    margin-top: 8px;
} 

.radioContainer {
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
}

.radioContainer input {
    opacity: 0;
    padding: 5px;
    margin: 0 auto;
}

.radio {
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.4);
  cursor: pointer;
  display: flex;
  height: 25px;
  margin-top: 3;
  width: 25px;
}

/* On mouse-over, add a grey background color */
.radio:hover{
  background-color: #ccc;
}

/* When the radio button is checked */
.radioContainer input:checked ~ .radio {
background-color: slategray;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .radio:after {

  display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .radio:after {
/*
  top: 9px;
  left: 9px;
*/
  margin-top: 8px;
  margin-left: 7.5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}

.preferencesIcon {
width: 36px;
height: 34px;
border: 3px solid black;
border-radius: 7px;
}

.movieModeTab {
z-index: 50;
/*
border: 2px solid grey;
background-color: darkgray;
border-radius: 20px;
flex-basis: auto;
font-size: 1rem;
width: 100px;
*/
}

.sliderCanal {
    z-index: 50;
    border: 2px solid grey;
    background-color: darkgray;
    border-radius: 20px;
    flex-basis: auto;
    font-size: 1rem;
    margin: 0 auto;
    width: 55px;
    height: 18px;
}

.sliderBall{
    position: relative;
    z-index: 60;
    border-radius: 30px;
    height: 18px;
    width: 18px;
    background-color: green;

    animation: ballSlide;
    animation-duration: 1s;
    }

@keyframes ballSlide {
    0% {left: 0px; background-color: green;}
    100%{left: 37px; top:0px; background-color:chartreuse;}
}

.moviemodeImg {
    width: 39px;
    height: 37px;
    border: 2.0px solid black;
    border-radius: 7px;
/*
width: 45px;
height: 50px;
*/
}

.soundControlIcon {
    border: 3px solid black;
    width: 37px;
    height: 37px;
    background-color: darkgrey;
    border-radius: 8px;
}

.infoPic {
    top: 10px;
    width: 37px;
    height: 37px;
    border: 3px solid black;
    border-radius: 8px;
}


#waveLine {
    z-index: 100;
    width: 100%;
    height: 8px;
/*    top: -33px;*/
    background-size: cover;
    object-fit: cover;
    filter: blur(1px);
    align-self: flex-end;
    margin-top: 4px;
}

.infoPicContainer {
    background: white;
    border: 5px solid dimgrey;
    border-radius: 5px;
    box-shadow: purple 0px 0px 30px 5px;
    border-style: groove;
    filter: brightness(85%);
    height: 500px;
    margin: 0 auto;
    position: relative;
    width: 900px;
}

.infoArrow {
    position: absolute;
    margin: 0;
    transform: scaleX(-1);
    width: 40px;
    right: 0px;
    margin: 2px 10px 0px 0px;
    float: right;
    z-index: 30;
}

.infoPicAbout {
display: flex;
flex-wrap: wrap;
width: 750px;
/*background: black;*/
/*border-radius: 5px;*/
margin: 0 auto;
}

#infoPicControlsWrap {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 6000;
}


.infoPicControlsWrap {
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

.infoPicControlsColumn {
/*background: black;*/
flex-direction: column;
align-items: flex-start;
display: flex;
position: relative;
height: auto;
margin-left: 8px;
}

.infoPicControlsRow {
position: relative;
align-items: center;
display: flex;
height: auto;
flex-direction: row;
width: 100%;
padding-top: 5px;
}

.infoDescription {
    color: black;
    font-size: 3em;
    line-height: 1.1;
}
 
.infoEnjoy {
    align-self: center;
    color: black;
    font-size: 2.5em;
    line-height: 2.5em;
    font-family: 'Press Start 2P', cursive;
}

.infoWavefm {
    color: darkviolet;
    font-family: 'Orbitron', sans-serif;
    font-size: 7em;
}


.infoPicControl {

}

.infoNavElement {
    color: black; 
    font-size:1.5em; 
    font-size: 2rem;
    font-family: 'nunito', monospace;
}

.infoWavefm, .infoEnjoy, infoDescription, infoPicControlsRow, .contactFont{
    opacity: 0.7;
}

.infoDescription, infoPicControlsRow, .contactFont {
    font-family: 'nunito';
}

#contactUsContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}

.contactFont {
    font-size: 7em;
    margin: 0;
}

#emailLink {
    color: rebeccapurple;
    transition: color .5s;
}
#emailLink:hover {
    color: darkviolet
}

#socialMediaLinksWrap {
    align-self: center;
/*    border: 2px solid black;*/
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 350px;
    
}

#comingSoon {
    align-self: center;
    opacity: 0.0;
    position: absolute;
}

#comingSoon:hover {
    opacity: 0.8;
    cursor: context-menu;
}

.socialMediaIcon {
    width: 50px;
    opacity: 0.3;
}

#MyPhotoSection {
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    z-index: 100;
/*    height: 89%;*/
    align-items: center;
    margin: 0 auto;
/*    z-index: -30;*/
/*    flex: 1 1 auto;*/
/*border-bottom: 10px solid green;*/
}

.photoSectionTable {
display: none;
margin: 0 auto;
text-align: center;
height: 100%;
width: 100%;
/*border: 2px solid black;*/
}

.photoSectionTable {
display: table;
margin: 0 auto;
}


.mainImg {
    width: 500px;
    /*
    margin: 0 auto;
    text-align: center;
    */
    align-self: center;
    z-index: 30;
}



.photoSectionAlignment {

}

.photoViewSection {
    z-index: -5000;
}



.arrow {
    width: auto;
    font-size:200px;
    opacity: 0.2;
    user-select: none;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}

#arrowOne {
/*
    position: fixed;
z-index: 30;
*/
/*    width: 80px;*/
    margin: 5px;
    z-index: 500;
    transform: scaleX(-1);
}

#arrowTwo {
/*    width: 80px;*/

    margin: 5px;
/*    transform: rotate(180deg);*/
}

.arrow:hover {
    cursor: pointer;
    opacity: 0.8;
}

.prefContainer {
    display: flex;
    flex-direction: column;
    float: right;
    font-size: 10px;
    position: fixed;
    right: 0;
/*    width: 180px;*/
    }

.formBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    z-index: 60;
    background-color: white;
    filter: brightness(85%);
    padding: 4.5px;
    border: 1px solid lightgray;
    border-bottom: 3px solid #CD69C9;
    border-radius: 15px 0px 0px 0px;
    padding: 10px;
    height: 130px;
    overflow: auto;
    /* width: 170px; */
    align-self: flex-end;
    /* position: absolute; */
    right: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    text-transform: uppercase;
}

.formCheckBox {
/*    opacity: 0;*/
    cursor: pointer;
}

.formCheckBoxBorder {
    border: 2px solid rgba(0,0,0,0.4);
    border-radius: 5px;
    height: 25px;
    width: 25px;
}

.newCheckBox {
  background-color: #eee;
/*  border: 2px solid rgba(0,0,0,0.4);*/
  border-radius: 3px;
  height: 25px;
/*  margin-left: 5px;*/
  left: 0;
/*  position: absolute;*/
  cursor: pointer;
  width: 25px;

}

.newCheckBox:hover {
/*  background-color: #ccc;*/
  filter: brightness(80%);
}

/*
.newCheckBox:checked {
    background: forestgreen
}
*/

/*
.formBox input:checked ~ .newCheckBox {
  background-color: forestgreen;
}
*/

/*
.newCheckBox:after {
  content: "";
  position: absolute;
  display: none;
}
*/

/*
 Show the checkmark when checked 
.formBox input:checked ~ .newCheckBox:after {
  display: block;
}
*/

/*
.formBox .newCheckBox:after {
  left: 9px;
  top: 5px;

  margin: 0 auto;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 4;
}
*/

.checked {
background: forestgreen;
}

.unchecked {
background: #eee;
}

.try {
	display: none;
    border: 2px solid black;
    padding: 20px;

}

.myView {
position: relative;
display: flex;
flex-direction: row;
flex-shrink: 0;
justify-content: space-evenly;
top: 100px;
width: 100%
}

.myViewImageWrapper {
/*
F*/
}

.fbTimeline {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
	margin-top: 3;
    position: relative;

    top: 68px;

    width: 550px;
    z-index: -30px;

/*    height: 63vh;*/


/*    border: 5px solid lightgreen;*/


}

.fbImg {
    align-self: center;
/*    border-radius: 5px;*/

    margin: 5px;

    max-width: 100%;
    max-height: 100%;

/*    margin: 0 auto;*/
    position: relative;
    z-index: -30px;

}

.pintrestView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 68;
}

.pImg {
    position: relative;
/*    border-radius: 5px;*/
    z-index: -30px;
    width: 300px;
    margin: 3px;
    align-self: center;
}

.soundControlWrap {
display: flex;
}

.sfxOnIconDesktop,.sfxMuteIconDesktop {
/*    bottom: 0px;*/
/*    margin-left: 5px;*/
	left: 0px; 
    margin-top: 4px;
	margin-right: 10px;
    position: static;
/*    left: 0px;*/
    width: 50px;
    z-index: 50;
    /* margin: 0px 50px -10px 0px; */
/*    margin-bottom: 25px;*/
}

.musicOnIconDesktop,.musicMuteIconDesktop {
/*    bottom: 0px;*/
    margin-left: 5px;
    position: static;
/*    left: 0px;*/
    width: 50px;
    z-index: 50;
    /* margin: 0px 50px -10px 0px; */
/*    margin-bottom: 25px;*/
	margin-left: 10px;
	margin-top: -2px;
}

.soundOnIconDesktop:hover,.soundMuteIconDesktop:hover {
    cursor: pointer
}

.soundLevelContainer {
	/*border: 1px solid green;*/
	display: flex;
	justify-content: space-around;
	width: 50px;
	height: 18px;
}

.sfxLevelContainer {
	margin-top: 8.5px;
	margin-right: 10px;
}



.musicLevelContainer {
	margin-left: 10px;
	margin-top: 2px;
}

.soundLevelBar {
    width: 6px;
    border-radius: 2px;
    cursor: pointer;
}

.barOff{


    /* border: 1px solid black; */
    background-color: #a9a9a9;
}

.barOn{


    /* border: 1px solid black; */
    background-color: forestgreen;
}

.soundIconDesktop {
	margin: 5px 0px 4px 0px;
}

.adaptiveSoundControl {
    width: 37px;
    height: 34px;
}


#exitinfo:hover {
filter:brightness(96%);
}

#exitinfo:active {
filter:brightness(80%);
}
/* EXTRA SHIT
************************************************/
.fakeCheckBoxWrap {
    display: flex;
    flex-direction: row;
}

.visibilityNone {
    visibility: hidden;
}

.soundIcon{
    cursor: pointer;
}

.centered { /* for centering horizontal and vertical */
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.qsMargin {
padding: 3px;
}

.displayNone {
display: none !important;
}

.positionFix {
position: fixed;
}

.smallScreenBottomBar{
	display: none;
	position: fixed;
	align-self: center;
	width: 100%;
	background-color: white;
	filter: brightness(85%);
	flex-grow: 1;
	margin: 0 auto;
	bottom: 0;
	flex-direction: row;
	padding: 5px;
	z-index: 500;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.bottomInfo {
display: none;
}


p {
    margin: 0;
}


.infoImgMargin {
margin: 5px 10px 5px 3px;
}

.controlFont {
    color: black;
    font-size: 1.1em;

}

.blur {
position: fixed;
filter:blur(15px);
height:10px;
width: 100%;
background: white;
bottom: 0px;
z-index: 500;
}

.imgZ {
z-index: -30;
}

.photoTry {
background: url(Photos/display%2520photos/arcadePhotoOne.jpg) repeat 0 0;
width: 100px;
height: 100px;
}

input[type='checked'] {
	-webkit-appearance:none;
	width: 30px;
	height: 30px;
	background: white;
	filter: brightness(90%);
	border-radius:5px;
	border: 2px solid black;
}

input[type='checkbox']:checked {
	background: white;
	filter: brightness(60%);
}

.cBClear {
/*
position: fixed;
margin-left: 127px;
margin-top: 23px;
width: 35px;
*/
}

.clear-select {
    background: white;
    bottom: 11;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    filter: brightness(90%);
    justify-content: space-around;
    padding: 8px;
    position: relative;
    /*    width:170px;*/
    /*    float: right;*/
    right: 0;
}

.imageReset {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    user-select: none;
}

.imageReset:active {
    color: rgba(0,0,0,0.2);
}

button {
    border-radius:10px;
}
button:hover {
    cursor: pointer;
}


.movieModeDivider {
border: 2px solid #CD69C9;
}



.movieModeToggleWrap {
    align-self: center;
    margin-right: 5px;
    margin-left: 5px;
}

/*OLD MOVIE MODE TOGGLE STYLE */
/*
.movieModeToggle {
    background: darkgrey;
    border-radius: 50px;
    height: 42px;
    width: 42px;
}
*/


.buttonStyle {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin: 6px;
/*    font-size: inherit;*/
    line-height: 1.42;
/*    width:16px;*/
    height:28px; 
    padding: 0.8em 1.6em;
/*    font-weight: normal;*/
    border-width: 0;
    border-style: solid;
    background: transparent;
    border-radius: 60px;
    cursor: pointer;
/*    font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;*/
    text-align: center;
    user-select: none;
    vertical-align: bottom;
    box-shadow: 0 1px 0 0 #4a4b56, 0 4px 4px -1px rgba(0, 0, 0, 0.6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
/*     background-color: #0B44EF; */
    background-image: linear-gradient(-45deg, #6D6F7F, #61708b);
    color: #E6EAEF;
    transition: box-shadow 0.3s, transform 0.3s, color 0.3s, opacity 0.9s;
}

 
.buttonStyle:hover {
    box-shadow:  0 1px 0 0 #4a4b56, 0 6px 4px -1px rgba(0, 0, 0, 0.3), 0 4px 16px rgba(0, 0, 0, 0.5), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.14) inset;
 } 

.buttonStyle:active {
    box-shadow: 0 0px 0 0 #07288d, 0 3px 0 0 rgba(0, 0, 0, 0), 0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset, 0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
    transition: 0s;
/*    color: #082fa6;*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}


.powerSymbol {
  width: 20px;
  height: 20px;
}
.powerSymbol:active{
opacity: .6;
}

.movieModeContainer {
    display: inline-flex;
    align-content:stretch;
    position: fixed;
    z-index: 60;
    background-color: white;
    filter: brightness(85%);
    border: 1px solid lightgray;
    border-radius: 15px 0px 0px 15px;
    overflow: auto;
    align-self: flex-end;
    right: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 7px;
    text-transform: uppercase;
    float: right;
    height:50px;
    border-top: transparent;
    overflow: hidden;
}

.soundControlContainer {
    display: inline-flex;
    align-content:stretch;
    position: fixed;
    z-index: 60;
    background-color: white;
    filter: brightness(85%);
    border: 1px solid lightgray;
    border-radius: 15px 0px 0px 15px;
    overflow: auto;
    align-self: flex-end;
    right: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 7px;
    text-transform: uppercase;
    float: right;
/*    height:50px;*/
    border-top: transparent;
}

/* text inside toggle button to trigger scroll function*/
input[value="I O"] {
        font-family: sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0 auto;
}

.topPageArrowContainer{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0px 50px -10px 0px;

}

.topPageArrowIcon, .arrow {
    font-family: 'nunito',monospace;
    font-weight: 900;
}

.topPageArrowIcon{
    font-size: 7.5rem;
    transform: rotate(-90deg);
    opacity: 60%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.topPageArrowIcon:hover {
    text-shadow: 1px 1px 30px #E5E4E2;
    cursor: pointer;
    margin:-3px;
}

.topPageArrowIcon:active {
    filter: brightness(80%);
    margin: 0px 0px -0.5px -1px;
}

.soundTopMargin {
	margin-top: 5px;
}

.infoPicCenter {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    bottom: 0;
    top: 0;
    position: fixed;
    width: 100%;
}

.userSelectNone {
    user-select: none;
}

.prefContainer, .soundControlContainer, .movieModeContainer {
    top: 67px;
    z-index: -500;
}
/*
.iconCover {
    width: 30px;
    height:30px;
    background: red;
}


*/
/*MEDIA QUERY TIME YAY
***************************************************************************************************/

.buttonDisable{
    pointer-events: none;
}

/*PREFERANCE BOX SHRINK
*************************************************/
@media screen and (max-width: 1099px) {
	
.mainImg, .navIcon, .arrow {
	display: none;

}
 .formbox {
/*	 height: 40px;*/
}
    }
/*DESKTOP VIEW ADAPTIVE SIZING 
****************************************************/

/*ADAPTIVE ICON BAR 
*****************************************************/
@media only screen and (max-width: 1100px) {
    .smallScreenBottomBar {
        display: flex;
        justify-content:space-around;
        margin-bottom: 0;
    /*    padding: 2px;*/
      flex: 1 1 auto;
    }

    .soundLevelBar {

        border-radius: 0px;

    }


    }

/*ADAPTIVE IMAGE SIZING
*******************************************************/

/*STANDARD SMARTPHONE SIZE*/
@media only screen and (min-width: 0px) and (max-width: 499px) {
.waveFm {
    font-size: 28px;}
/*
#infoPic {
    top: 10px;
    width: 25px;
    height: 25px;
    }
*/
    .infoPicControlsWrap {
        font-size:24px
    }
.infoDescription {
    color: darkgrey;
    font-size: 2.0em;
    }

.infoEnjoy {
    font-size: 2em;
    }

.infoWavefm {
    font-size: 4em;
    }

.infoPicAbout {
    width: auto;
    }

    .pImg {
    width: 150px;
    }

    .fbTimeline{
        width: 340px;
        top: 45px;
    }

.soundOnIconDesktop,.soundMuteIconDesktop {
	display: none;
	}

    .infoPic {
    /*
        top: 13px;
        width: 30px;
    */
        height: 30px;
        border: 3px solid black;
        border-radius: 10px;
        }



    .topPageArrowContainer {
        margin: 0px 25px 20px 0px;
    }

    .topPageArrowIcon:active {
        filter: brightness(80%);
        margin: 0px 0px -0.5px -1px;
        text-shadow: 1px 1px 30px #E5E4E2;
    }

	.soundLevelBar {
		width: 10px;

	}

	.sfxLevelContainer, .musicLevelContainer {
		background-color: darkgrey;
	}

	.barOn {
    	border: 1px solid forestgreen;
	}
    .prefContainer, .soundControlContainer, .movieModeContainer {
            top: 47px;
        }

    .imageReset {
        font-size: 1em;
        font-weight: 900;
    }

    .topPageArrowIcon{
        font-size: 6.0rem;
    }

}


/*LARGE SMARTPHONE SIZE*/
@media only screen and (min-width: 500px) and (max-width: 699px) {
	.mainImg, .pImg, /*.fbImg*/ {
		width: 500px;
		}

		/*new fbtime line adjustable code */
		.fbTimeline{
			width: 440px;
			top: 45px;
	}

	.waveFm {
		font-size: 30px;}
	/*
	#infoPic {
		top: 10px;
		width: 30px;
		height: 30px;
		}
	*/

	.infoDescription {
		color: darkgrey;
		font-size: 1.5em;
		}

	.infoEnjoy {
		font-size: 1.5em;
		}

	.infoWavefm {
		font-size: 4em;
		}

	.infoPicAbout {
		width: auto;
		}

		.pImg {
		width: 150px;
		}

	.soundOnIconDesktop,.soundMuteIconDesktop {
		display: none;
		}

/*
.infoPic {
    top: 13px;
    width: 32px;
    height: 32px;
    border: 3px solid black;
    border-radius: 10px;
    }
*/

    .topPageArrowContainer {
        margin: 0px 25px 20px 0px;
    }

    .topPageArrowIcon:active {
        filter: brightness(80%);
        margin: 0px 0px -0.5px -1px;
        text-shadow: 1px 1px 30px #E5E4E2;
    }

	.soundLevelBar {
		width: 10px;
	}

	.sfxLevelContainer, .musicLevelContainer {
		background-color: darkgrey;
	}

	.barOn {
    	border: 1px solid forestgreen;
	}
.prefContainer, .soundControlContainer, .movieModeContainer {
        top: 50px;
    }
    .imageReset {
        font-size: 1em
    }

}

/*TABLET/IPAD SIZE*/
@media only screen and (min-width: 700px) and (max-width: 1099px) {
    .mainImg, /*.fbImg*/ {
	width: 700px;
    }
    .pImg {
    width: 200px;
    }

/*
    .fbTimeline{
    width: 550px;
    height: 76vh;
    }
*/

	.infoDescription {
		color: darkgrey;
		font-size: 2.5em;
		}

	.infoEnjoy {
		font-size: 2em;
		}

	.infoWavefm {
		font-size: 6em;
		}

	.infoPicAbout {
		width: auto;
		}
	.soundOnIconDesktop,.soundMuteIconDesktop {
		display: none;
		}
    .topPageArrowContainer {
        margin: 0px 25px 20px 0px;
    }

    .topPageArrowIcon:active {
        filter: brightness(80%);
        margin: 0px 0px -0.5px -1px;
        text-shadow: 1px 1px 30px #E5E4E2;
    }

	.soundLevelBar {
		width: 10px;
	}

	.sfxLevelContainer, .musicLevelContainer {
		background-color: darkgrey;
	}

	.barOn {
    	border: 1px solid forestgreen;
	}

/*
    .imageReset {
        font-size: 2em
    }
*/

}

/*SMALL LAPTOP SCREEN SIZE *****************************************/
@media only screen and (min-width: 1100px) and (max-width: 1399px) {
    .mainImg, /*.fbImg*/ {
        width: 900px;
        }

    #arrowOne, #arrowTwo {

/*    width: 100px;*/
    /*height: 100%;*/
    align-self: center;
    }
        }

/*MEDIUM LAPTOP SCREEN SIZE*********************************************/
@media only screen and (min-width: 1400px) and (max-width: 1859px) {
        .mainImg, /*.fbImg*/  {
            width: 1100px;
        }

        #arrowOne, #arrowTwo {
            width: 140px;
        align-self: center;  
        }

        }

/*LARGE LAPTOP SCREEN SIZE*********************************************/
@media only screen and (min-width: 1860px) and (max-width: 5000px){
        .mainImg, /*.fbImg*/  {
            width: 1400px;
        }

        .fbTimeline {
            width: 750px;
        }

        #arrowOne, #arrowTwo {
            width: 200px;
            /*height: 100%;*/
            align-self: center;
        }
    }